<img src="https://i-blog.csdnimg.cn/direct/6d370d6db30046c1a46f5e87ca7affda.png">

In [2]:
import pandas as pd
import numpy as np

s1 = pd.Series(range(1, 11, 2))
s2 = pd.Series(range(2, 12, 2))

df = pd.DataFrame({"奇数列": s1, "偶数列": s2})

print(df)
print(type(df))
print(df["奇数列"]) # 索引DataFrame中的某一列

   奇数列  偶数列
0    1    2
1    3    4
2    5    6
3    7    8
4    9   10
<class 'pandas.core.frame.DataFrame'>
0    1
1    3
2    5
3    7
4    9
Name: 奇数列, dtype: int64

`DataFrame`的创建方式：
- 通过`字典`创建
- 通过`index`可以设置索引值idx
- 通过`column`可以设置每一列的列名，即创建时字典的`key`，例如上例的“奇数列”和“偶数列”，其中的顺序会影响每一列的位置

In [3]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({
    "姓名":["张三","李四","王五"],
    "年龄":[12, 13, 14],
    "学号":["1001", "1002", "1003"],
})
print("df1")
print(df1)

df2 = pd.DataFrame({
    "姓名":["张三","李四","王五"],
    "年龄":[12, 13, 14],
    "学号":["1001", "1002", "1003"],
    },
    index=range(2, 8, 2),
)
print("df2")
print(df2)

df3 = pd.DataFrame({
    "姓名":["张三","李四","王五"],
    "年龄":[12, 13, 14],
    "学号":["1001", "1002", "1003"],
    },
    index=range(3, 12, 3),
    columns=["学号", "姓名", "年龄"]
)
print("df3")
print(df3)

df1
   姓名  年龄    学号
0  张三  12  1001
1  李四  13  1002
2  王五  14  1003
df2
   姓名  年龄    学号
2  张三  12  1001
4  李四  13  1002
6  王五  14  1003
df3
     学号  姓名  年龄
3  1001  张三  12
6  1002  李四  13
9  1003  王五  14

## DataFrame的属性

| 属性      | 说明                     | 属性      | 说明                                   |
| --------- | ------------------------ | --------- | -------------------------------------- |
| index     | DataFrame的行索引        | loc[]     | 显式索引，按行列标签索引或切片           |
| values    | DataFrame的值            | iloc[]    | 隐式索引，按行列位置索引或切片           |
| dtypes    | DataFrame的元素类型      | at[]      | 使用行列标签访问单个元素                 |
| shape     | DataFrame的形状          | iat[]     | 使用行列位置访问单个元素                 |
| ndim      | DataFrame的维度          | T         | 行列转置                               |
| size      | DataFrame的元素个数      |           |                                        |
| columns   | DataFrame的列标签        |           |                                        |

In [4]:
print("df3: \n")
print(df3)
print("行索引：", df3.index.tolist()) # 查看索引并将索引转换成列表形式
print("列标签: ", df3.columns.tolist()) # 查看标签并将索引转换成列表形式
print("维度：", df3.ndim) # 查看维度
print("形状：", df3.shape) # 查看形状
print("元素值：\n", df3.values) # 查看元素值
print("转置：")
print(df3.T) # 查看转置

df3:

     学号  姓名  年龄
3  1001  张三  12
6  1002  李四  13
9  1003  王五  14
行索引： [3, 6, 9]
列标签:  ['学号', '姓名', '年龄']
维度： 2
形状： (3, 3)
元素值：
 [['1001' '张三' 12]
 ['1002' '李四' 13]
 ['1003' '王五' 14]]
转置：
       3     6     9
学号  1001  1002  1003
姓名    张三    李四    王五
年龄    12    13    14

In [5]:
# 获取元素的方式：loc iloc at iat 
print("按索引查找: ")
print(df3.loc[3: 6]) # 按索引查找

print("姓名列") # 可以索引某行或者某列, loc[行区间， 列区间]
print(df3.loc[ : , "姓名"])

print("按位置查找: ")
print(df3.iloc[2]) # 按位置查找

print("idx=3，col=姓名 的元素是： ", df3.at[3, "姓名"]) # 使用 at 函数精确索引单个元素值
print("idx下标为1，col下标为1的位置的元素是： ", df3.iat[1, 1]) # 使用 iat 函数进行隐式精确索引单个元素值

按索引查找:
     学号  姓名  年龄
3  1001  张三  12
6  1002  李四  13
姓名列
3    张三
6    李四
9    王五
Name: 姓名, dtype: object
按位置查找:
学号    1003
姓名      王五
年龄      14
Name: 9, dtype: object
idx=3，col=姓名 的元素是：  张三
idx下标为1，col下标为1的位置的元素是：  李四

In [6]:
name = df3["姓名"]
print(name) # 获取指定的单列数据
print(df3.姓名) # 通过操作符  .  也可以直接获取该列的数据

print(type(name)) # 该类型为  Series

test = df3[["姓名"]] # 取出DataFrame中的一列，该类型还是Datarame，该方法可以获取DataFrame中的多列数据
print(test) 
print(type(test))

3    张三
6    李四
9    王五
Name: 姓名, dtype: object
3    张三
6    李四
9    王五
Name: 姓名, dtype: object
<class 'pandas.core.series.Series'>
   姓名
3  张三
6  李四
9  王五
<class 'pandas.core.frame.DataFrame'>

In [7]:
df4 = pd.DataFrame({"key": range(2,10),
                    "value": range(1,9)})
print("前3行：")
print(df4.head(3)) # 获取DataFrame的前5行数据
print("后3行：")
print(df4.tail(3)) # 获取DataFrame的后五行数据

前3行：
   key  value
0    2      1
1    3      2
2    4      3
后3行：
   key  value
5    7      6
6    8      7
7    9      8

In [8]:
print(df4)
print("value>5的部分") # 利用bool索引筛选符合条件的Datarame
print(df4[df4.value>5]) 
print("value>5且key也大于5的部分")
print(df4[(df4.value>5) & (df4.key>5)])

   key  value
0    2      1
1    3      2
2    4      3
3    5      4
4    6      5
5    7      6
6    8      7
7    9      8
value>5的部分
   key  value
5    7      6
6    8      7
7    9      8
value>5且key也大于5的部分
   key  value
5    7      6
6    8      7
7    9      8

In [9]:
print(df4.sample()) # sample(num)函数可以随机对DataFrame进行抽样，数量可以指定，默认为1

   key  value
4    6      5

## DataFrame的常用方法

| 方法        | 说明                              | 方法        | 说明                                          |
| ----------- | --------------------------------- | ----------- | --------------------------------------------- |
| head()      | 查看前 n 行数据，默认 5 行          | max()       | 最大值                                          |
| tail()      | 查看后 n 行数据，默认 5 行          | var()       | 方差                                          |
| isin()      | 判断元素是否包含在参数集合中        | std()       | 标准差                                        |
| isna()      | 判断是否为缺失值（如 NaN 或 None） | median()    | 中位数                                        |
| sum()       | 求和，自动忽略缺失值                | mode()      | 众数（可返回多个）                              |
| mean()      | 平均值                            | quantile(q) | 分位数，q 取 0~1 之间                          |
| min()       | 最小值                            | describe()  | 常见统计信息（count、mean、std、min、25%、50%、75%、max） |
| value_counts()     | 每个唯一值的出现次数 | sort_values()    | 按值排序                 |
| count()            | 非缺失值数量         | replace()        | 替换值                   |
| duplicated()       | 是否重复             | nlargest()       | 返回某列最大的n条数据    |
| drop_duplicates()  | 去除重复项           | nsmallest()      | 返回某列最小的n条数据    |
| sample()           | 随机抽样             |                  |                          |
| replace()          | 替换值               |                  |                          |
| sort_index()       | 按索引排序           |                  |                          |

In [10]:
print(df4)

   key  value
0    2      1
1    3      2
2    4      3
3    5      4
4    6      5
5    7      6
6    8      7
7    9      8

In [ ]:
df4.head() # 查看前n行数据，默认5行

   key  value
0    2      1
1    3      2
2    4      3
3    5      4
4    6      5

In [12]:
df.tail() # 查看后n行数据，默认是5行

   奇数列  偶数列
0    1    2
1    3    4
2    5    6
3    7    8
4    9   10

In [15]:
df4.isin([1]) # 查看某些元素是否在DataFrame中

     key  value
0  False   True
1  False  False
2  False  False
3  False  False
4  False  False
5  False  False
6  False  False
7  False  False

In [17]:
df4.isna() # 查看元素是否为缺失值

     key  value
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5  False  False
6  False  False
7  False  False

In [35]:
print(df4.sum()) # 同时对DataFrame中的每一列元素进行求和
print("-"*20)
print(df4.max()) # 同时求每一列的最大值/最小值
print("-"*20)
print(df4.min())
print("-"*20)
print(df4.mean())# 同时对每一列求平均
print("-"*20)
print(df4.describe()) # 同时给出所有列的描述信息
print("-"*20)
print(df4.cumsum()) # 对每一列累计求和，可以通过  axis  参数指定求和的方向，默认为0，同理使用的还有  cummax  以及  cummin

key      44
value    36
dtype: int64
--------------------
key      9
value    8
dtype: int64
--------------------
key      2
value    1
dtype: int64
--------------------
key      5.5
value    4.5
dtype: float64
--------------------
           key    value
count  8.00000  8.00000
mean   5.50000  4.50000
std    2.44949  2.44949
min    2.00000  1.00000
25%    3.75000  2.75000
50%    5.50000  4.50000
75%    7.25000  6.25000
max    9.00000  8.00000
--------------------
   key  value
0    2      1
1    5      3
2    9      6
3   14     10
4   20     15
5   27     21
6   35     28
7   44     36

In [36]:
print(df4["value"].sum()) # 直接对指定的某一列进行求和
print("-"*20)
print(df4["value"].max()) # 求某一列的最大值/最小值
print("-"*20)
print(df4["value"].min())
print("-"*20)
print(df4["value"].mean()) # 对指定的列求平均
print("-"*20)
print(df4["value"].describe()) # 指定某一列的描述信息
print("-"*20)
print(df4["value"].cumsum()) # 对指定列进行累计求和

36
--------------------
8
--------------------
1
--------------------
4.5
--------------------
count    8.00000
mean     4.50000
std      2.44949
min      1.00000
25%      2.75000
50%      4.50000
75%      6.25000
max      8.00000
Name: value, dtype: float64
--------------------
0     1
1     3
2     6
3    10
4    15
5    21
6    28
7    36
Name: value, dtype: int64

In [46]:
df5 = pd.DataFrame({
    "id": np.random.randint(1, 5, 6),
    "idx": np.random.randint(10, 15, 6),
    "idxx": np.random.randint(100, 120, 6),
    },
    columns=["id", "idx", "idxx"],
)

df5

   id  idx  idxx
0   1   10   117
1   4   12   112
2   2   14   111
3   2   10   112
4   2   13   104
5   1   14   103

In [47]:
df5.sort_index() # 对整个DataFrame进行排序，排序对象为索引

   id  idx  idxx
0   1   10   117
1   4   12   112
2   2   14   111
3   2   10   112
4   2   13   104
5   1   14   103

In [48]:
df5.sort_values(by="idx") # 对整个DataFrame进行排序，排序对象为值，需要通过  by  参数来指定排序的列

   id  idx  idxx
0   1   10   117
3   2   10   112
1   4   12   112
4   2   13   104
2   2   14   111
5   1   14   103

In [54]:
# by参数可以接收多个待排序对象，同时可以通过  ascending  参数指定这两个对象的排序方向，后一个对象在前一个对象排序完成的基础上进行微调
print(df5.sort_values(by=["idx", "idxx"]))
print("-"*20)
print(df5.sort_values(by=["idx", "idxx"], ascending=[True, False])) # 关注本例中的索引为0和3的两行数据

   id  idx  idxx
3   2   10   112
0   1   10   117
1   4   12   112
4   2   13   104
5   1   14   103
2   2   14   111
--------------------
   id  idx  idxx
0   1   10   117
3   2   10   112
1   4   12   112
4   2   13   104
2   2   14   111
5   1   14   103

In [59]:
# nlargest(num, columns)：指定每一列的前num个数据，columns表示可以指定多列一起参与排序
print(df5.nlargest(3, "id"))
print("-"*20)
print(df5.nlargest(3, columns=["id", "idxx"])) # 参考索引为2和3两行数据

   id  idx  idxx
1   4   12   112
2   2   14   111
3   2   10   112
--------------------
   id  idx  idxx
1   4   12   112
3   2   10   112
2   2   14   111